@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');
.red-hat-display-rhRegular {
    font-family: "Red Hat Display", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100,200;
    font-style: normal;
  }


.overpass-font2 {
    font-family: "Overpass", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
  }
*{
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    scroll-behavior: smooth;
    
}
:root{
    --primary-color:#F20519;
    --secondary-color: #BF0426; 
    --tertiary-color: #d1d1d1;
    --quartiary-color:#BF7E6F; 
    --quinary-color:#8C0303; 
    /* Color Theme Swatches from Adobe Colors*/
    font-family: "Red Hat Display", sans-serif;
}

.container{
    margin: 0;
    padding: 0;
}

body{
    height: 100%;
    width: 100%;
    display: grid;
    /* grid-template-rows: 1fr 70fr 1fr; */
}


/** ----------NAV---------- */

nav{
    background-color: rgb(255, 252, 252);
    border-bottom: solid 1px var(--quartiary-color);
    position: fixed;
    z-index: 3;
    /* height: 110px; */
    width:100%;
    display: flex;
    flex-direction: row;
}
.logo{
    margin: 0.5% 0.5%;
    float: left;
    top: 1%;
    width: 200px;
}

.mainMenu{
    justify-content: right;
}
nav ul li{
    list-style-type: none;
    float:left;
    padding: 0 10px ;
    display: block;
}

.this-page{
    background-color: var(--quartiary-color);
    padding: 3px;
}

.nav-link{
    text-decoration: none;
    color: var(--quinary-color);
    font-size: 1rem;
}

.nav-link:hover{
    color:var(--primary-color);
    text-decoration:underline;
}

/** ----------MAIN---------- */
.img-fluid{
    max-width:100%;
    object-fit: cover;
}
main{
    width:100%;
    display: grid;
    grid-template-rows: minmax(20fr,auto) 20fr;;
}

/* BANNER */

#banner {
    background-color: var(--quartiary-color);
    position: absolute;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;

    top: 110px;
    left: 0%;
    width: 300px;
    height: 700px;
    object-fit:cover;
    opacity: 90%;
}

/** Carrossel */

#carousel{
    margin:0;
	height: 60vh;
	width: 100%;

	justify-content: center;

}

.img-carousel img{
    object-fit: contain;
    width:80vw;
    max-width:1200px;
}

/*CONTENT*/

.cnt-description{
    text-align: center;
}

.cnt-img-left img, .cnt-img-right img{
    width:600px;  
    height: 375px; 
    z-index:1;

}

.cnt-img-left img{
    /* margin-left: 10%; */

}

.cnt-img-right img{
    /* margin-left: -20%; */
}
.cnt-box-left, .cnt-box-right {
    background-color:var(--tertiary-color);
    /* width: 600px;
    height: 150px; */
    position: relative;
    opacity: 95%;
    z-index:2;
    padding: 10px;
}
.cnt-box-left h3, .cnt-box-right h3{
    font-weight: 600;
    letter-spacing: 3px;
    font-size:1.5rem;
}

.cnt-box-right {
    /* left: -10%; */
}

.cnt-box-left {
    /* margin-left: 15%; */
}

#content a{
    text-decoration: none;
    color: var(--secondary-color);
}
#content a:hover{
    color: var(--quinary-color);
}


/** ----------FOOTER---------- */


.footer-home{
    border-top: solid 1px var(--quartiary-color);
    background-color:var(--quartiary-color);
    text-align: center;
    color:var(--quinary-color);

    padding:20px 0 ;
}


/** ----------OUTRAS PÁGINAS---------- */


#banner-sec {
    background-color: var(--quartiary-color);
   
    padding:0px;
    margin: 0px;
    top: 0px;
    left: 0%;
    width: 100%;
    height: 400px;
    object-fit: cover;
    opacity: 90%;
}

#banner-sec > img{
    width: 100%;
    height: 100%;
}


#content-sec table{
    text-align: center;
    width: 70%;
}
#content-sec table tr td{
    text-align: center;
    width: 35%;
}


/* MENU */

.img-menu{
    width:400px;
    height: 300px;
    object-fit: cover;
}

.menu-content{
    display: flex;
    grid-template-rows: 1fr 1fr minmax(3fr, auto) 4fr;
    grid-auto-columns: max-content;
}

#menu-btn{
    position: -webkit-sticky;
    position: sticky;
    top: 20px;
    overflow-y: auto;
}

.btn{
    border: var(--quinary-color) solid 1px;
    height: 40px;
    border-radius: 2px;
    margin: 0px 5px 5px 0;
}

.btn-active{
    background-color: var(--quartiary-color);
    color: #fff;
}

#menu-items{
    height: 70vh;
    border: var(--quinary-color) solid 1px;
    border-radius: 2px;
    overflow-y: scroll;
}

.menu-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 10px;

}
.menu-grid-img{
    margin: 10px;
}
.menu-grid-items{
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
/* RESERVAS */

#register{
    border: 1px var(--quinary-color) solid;
    padding: 10px;
    /* width: 60%; */
}

@media(max-width: 600px){
    #register{
        width: 100vh;
        border:none;
        margin: 5px;
    }
    form select{
        width: 90vh;
    }
     form input{
        width: 90vh;
    }
}

form select {
    width: 98%;
    border: 1px var(--secondary-color) solid;
}
form input{
    width: 98%;
    border: 1px var(--secondary-color) solid;
}

#register button{
    color:#fff;
    background-color:var(--quartiary-color);
    padding: 3px;
    border: 1px var(--secondary-color) solid;
    width: 200px;
    height: 30px;

    
}

/* SOBRE - ORIGENS */

.origin-description p span{
    font-style: italic;
}

.origin-img{
    width: 500px;
    height: 300px;
    object-fit: cover;
}

/* CONTATO */

.contact-txt{
    text-align: right;
    padding-right: 10px;
}

.contact-link{
    text-align: left;
    padding-left: 10px;
}
.contact-link a{
    text-decoration: none;
    color: var(--secondary-color);
}
.contact-link a:hover{
    color: var(--quinary-color);
}
.fa-icon{
    color: var(--secondary-color);
    font-size: 1.2rem;
}

@media(max-width:770px){
    .contact-txt,.contact-link{
        margin-left:0;
        margin-right: 0;
        text-align:center;
        padding-right:0;
        padding-left:0;

    }
}

/* LOCALIZAÇÃO */

@media(max-width:600px){
    iframe{
        width:100%;
        height: 100%;
    }

}
